.stats {
    display: flex;
    justify-content: space-around;
}

.stats_best {
    width: 30%;
}

.ant-table-thead> tr> th {
    color: #fff;
    background-color: #136052;
}

.ant-table-row {
    background-color: #e6ffec;
}