.match-words__words-container {
  margin: 0 auto 20px;
  max-width: 600px;
}

.match-words__word {
  width: 130px;
  margin: 0 0.5em 0.7em;
  padding: 5px 2px;
  border: 2px #000000 solid;
  border-radius: 10px;
  outline: none;
  background: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
}

.match-words__word:hover {
  background: #d5f6f0;
  transform: scale(1.1);
}

.match-words__word--picked {
  border-color: #008000;
  background: #acecac;
}

.match-words__word--picked:hover {
  border-color: #008000;
  background: #acecac;
  transform: none;
  cursor: default;
}

.match-words__word--wrong {
  border-color: #ff0000;
  background: #eaaeae;
}

.match-words__word--wrong:hover {
  background: #eaaeae;
}

.match-word__next-button {
  box-shadow: 2px 2px 10px 2px #e3fa70;
  transform: scale(1.2);
}

.match-word__next-button--hidden {
  visibility: hidden;
}

@keyframes btnAnimation{

  0% { transform: rotateZ(5deg); }

  50% {transform: rotateZ(-5deg);}

  100% { transform: rotateZ(5deg); }
}

.match-words__word--animate {
  animation: btnAnimation 0.5s 1 ease;
}

.exercises-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 1em auto 0;
}

.exercises-container__kitty{
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.exercises-container__kitty > svg{
  width: 150px;
}
