.exercises-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 1em auto 0;
}

.exercises-container__kitty{
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.exercises-container__content{
  flex-basis: 70%;
}

.exercises-container__kitty > svg {
  width: 150px;
}

.exercises-container__progress-bar{
  margin: 0 0 2em;
}
.ant-progress-inner{
  box-shadow: 1px 1px 4px 1px #cee4dd;
}

@media(max-width: 800px) {

  .exercises-container__kitty{
    flex-basis: 25%;
  }

  .exercises-container__content {
    flex-basis: 75%;
  }

  .exercises-container__kitty > svg {
    width: 120px;
  }
}

@media(max-width: 550px) {

  .exercises-container__kitty {
    flex-basis: 100%;
    justify-content: center;
  }

  .exercises-container__content {
    flex-basis: 100%;
  }

  .exercises-container__kitty > svg{
    width: 70px;
  }
}
