.makeAPhrase-container__phrase{
    margin: 0 0 1em;
    font-size: 1.5em;
    font-weight: 600;
}
.makeAPhrase__buttons{
    max-width: 100%;
    min-height: 50px;
    margin: 0 0 1em;
    padding: 5px;
    border-radius: 10px;
    background:transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}
.makeAPhrase-container__phrase-maker{
    width:100%;
    min-height: 50px;
    margin: 0 0 1em 0;
    background:white;
    border:2px solid #1c8673;
    border-radius:10px;   
}
.phrase-maker__inner-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    row-gap: 8px;
    min-height:46px;
    padding:5px;
    border-radius:10px; 
}
.buttons__makeAPhraseBtn{
    width: fit-content;
    margin: 0 0.5em 0;
    padding: 3px 7px;
    border: 2px black solid;
    border-radius: 10px;
    outline: none;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;
}

.buttons__translateBtn--disabled{
    pointer-events: none;
}
.buttons__translateBtn:hover{
    background:#d5f6f0;
    transform: scale(1.1);
}
.phrase-maker--wrong{
    box-shadow: 1px 1px 7px 1px red;
    background: #eaaeae;
}
.phrase-maker--correct{
    box-shadow: 1px 1px 7px 1px green;
    background: #acecac;
}
.buttons__translateBtn--bigger{
    animation:btnAnimation 0.5s 1 ease;
}
.chooseTranslation-container__continueButton{
    transform: scale(1.2);
    box-shadow: 2px 2px 10px 2px #e3fa70;
}
@keyframes btnAnimation{
    0% { transform: rotateZ(5deg); }
    50% {transform: rotateZ(-5deg);}
    100% { transform: rotateZ(5deg); }    
}
.buttons__translateBtn--correct:hover{
    border-color: green;
    background: #acecac;
}
.buttons__translateBtn--wrong:hover{
    border-color: red;
    background: #eaaeae;
}
@media(max-width:800px){
    .exercises-container__kitty{
        flex-basis: 25%;
    }
    .exercises-container__content{
        flex-basis:75%;
    }
    .exercises-container__kitty>svg{
        width: 120px;
    }
    .buttons__translateBtn{
        font-size: 1em;
    }
}
@media(max-width:550px){
    .exercises-container__kitty{
        flex-basis: 100%;
        justify-content: center;
    }
    .exercises-container__content{
        flex-basis:100%;
    }
    .chooseTranslation-container__word{
        font-size: 1.3em;
    }
    .exercises-container__kitty>svg{
        width:70px
    }
}