.words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.words__table {
  margin-bottom: 20px;
}

.words__table td {
  text-align: left;
  padding: 5px 10px;
}

.words__play-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
