.ant-btn:hover, .ant-btn:focus {
  color: #1c8673;
  border-color: #1c8673;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #ffffff;
}

.header__icon {
  color: #135a4d;
  font-size: 1.5rem;
}

.drawer-dark .ant-drawer-header {
  background-color: #135a4d;
}

.drawer-light .ant-drawer-header {
  background-color: #ffffff;
}

.drawer-dark .ant-drawer-title {
  color: #ffffff;
}

.drawer-light .ant-drawer-title {
  color: #000000d9;
}

.drawer-dark span {
  color: #ffffff;
}

.drawer-light span {
  color: #000000d9;
}

.drawer-light span.ant-switch-inner {
  color: #ffffff;
}

.drawer-dark .ant-drawer-content {
  background-color: #135a4d;
}

.drawer-light .ant-drawer-content {
  background-color: #ffffff;
}

.lang-img {
  width: 24px;
}

.ant-dropdown-menu-item {
  display: flex;
  align-items: center;
}