.match-words__words-container {
  margin: 0 auto 20px;
  max-width: 600px;
}

.match-words__word {
  margin: 10px;
  padding: 5px;
  font-size: 1.4rem;
  background: transparent;
  cursor: pointer;
}

.match-words__word--picked {
  background: #00ff00;
}

.match-word__next-button--hidden {
  visibility: hidden;
}

@keyframes btnAnimation{

  0% { transform: rotateZ(5deg); }

  50% {transform: rotateZ(-5deg);}

  100% { transform: rotateZ(5deg); }
}

.match-words__word--animate {
  animation: btnAnimation 0.5s 1 ease;
}
