.ant-btn-primary{
    background: #5D847D;
    filter: blur(1px);
    border-radius: 15px;
    border-color: #146455;
    padding: 4px 7px;
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
    background:#135a4d;
    border-color:#135a4d;
}
