*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.outer-container{
    max-width: 1200px;
    margin: 10px auto;
}
.outer-container__inner-container{
    width: 100%;
    padding: 10px;
}
.inner-container__text{
    max-width: 95%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.inner-container__content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content__image{
    flex-basis:33%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content__image > img{
    width: 130px;
}
.content__lessons{
    flex-basis:33%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content__chart{
    flex-basis: 33%;
    position: relative; 
    height:30vh; 
    width:30vw;
}
.lessons__lesson{
    width: 41%;
    height: 80px;
    margin: 0 0.5em 0.5em 0;
    font-size: 1.5em;
    font-size: 1.5em;
    font-weight: 800;
    -webkit-text-stroke: 1px #146455;
}
.lessons__lesson:hover, .lessons__lesson:focus{
    background:#135a4d;
    border-color:#135a4d;
}